<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shardingjdbc.dao.sharding.TestDbMapper">

    <select id="getDb" resultType="java.util.Map">
        select * from test_db
    </select>

    <select id="selectOne" resultType="java.util.Map">
          select * from test_db where id = #{id}
    </select>

    <insert id="insert" parameterType="com.example.shardingjdbc.entity.TestDb">
        insert into test_db  (message,year) values (#{message},#{year})
    </insert>

    <insert id="insertAll">
         insert into test_db (id,message,year) values
         <foreach collection="request" item="d" separator=",">
             (#{d.id},#{d.message},#{d.year})
         </foreach>

    </insert>
</mapper>